.todos {
    max-width: 500px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.h1 {
    margin-bottom: 30px;
}

.todosWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}
